@using Foundation.Web.Extensions
@using Foundation.Web.Paging
@using Foundation.Web.Sorter
@model Kafala.Web.ViewModels.Commitment.CommitmentIndexViewModel

<h2>List Commitments</h2>
<div class="panel panel-primary">

    @Html.Partial("Partial/CommetmentFilter", Model.Search)
     </div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <table class="table sorter">
        <tr>
           @Html.SortableHeader(Model.Search.Sort, Model.Search.SortDirection,  "DonationCaseName" , "Donation Case" , Model.Search.ActionFunc)
            @Html.SortableHeader(Model.Search.Sort, Model.Search.SortDirection, "Name" , "Donor" , Model.Search.ActionFunc)
            @Html.SortableHeader(Model.Search.Sort, Model.Search.SortDirection, "Start Date" , "Start Date" , Model.Search.ActionFunc)
            @Html.SortableHeader(Model.Search.Sort, Model.Search.SortDirection, "End Date" , "End Date" , Model.Search.ActionFunc)
        </tr>
    
    @foreach (var item in Model.Commitments) {
        <tr>
            <td>
                @item.DonationCaseName
            </td>
            <td>
                @item.DonorName
            </td>
            <td>
                @item.StartDate
            </td>
            <td>
                @item.EndDate
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
@Html.PageLinks(Model.Search, Model.Search.ActionFunc)