@using Foundation.Web.Extensions
@model Kafala.Web.ViewModels.Commitment.CommitmentIndexViewModel

<h2>List Commitments</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table sorter">
        <tr>
           @Html.SortableHeader(Model.Search.PagingInformationViewModel.Sort, Model.Search.PagingInformationViewModel.SortDirection,  "DonationCaseName" , "Donation Case" , Model.Search.PagingInformationViewModel.ActionFunc)
            @Html.SortableHeader(Model.Search.PagingInformationViewModel.Sort, Model.Search.PagingInformationViewModel.SortDirection, "Name" , "Donor" , Model.Search.PagingInformationViewModel.ActionFunc)
            @Html.SortableHeader(Model.Search.PagingInformationViewModel.Sort, Model.Search.PagingInformationViewModel.SortDirection, "Start Date" , "Start Date" , Model.Search.PagingInformationViewModel.ActionFunc)
            @Html.SortableHeader(Model.Search.PagingInformationViewModel.Sort, Model.Search.PagingInformationViewModel.SortDirection, "End Date" , "End Date" , Model.Search.PagingInformationViewModel.ActionFunc)
        </tr>
    
    @foreach (var item in Model.Commitments) {
        <tr>
            <td>
                @item.DonationCaseName
            </td>
            <td>
                @item.DonorName
            </td>
            <td>
                @item.StartDate
            </td>
            <td>
                @item.EndDate
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
@Html.PageLinks(Model.Search.PagingInformationViewModel, Model.Search.PagingInformationViewModel.ActionFunc)