@using Foundation.Web.Paging
@using Foundation.Web.Sorter
@model Kafala.Web.ViewModels.Reports.PaymentStatusReportViewModel

@section Css 
{
    <link rel="stylesheet" type="text/css" href="~/Content/JChartFX/jchartfx.css" />
}

@section script
{
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="~/Scripts/Debug/Reports/jquery.xml2json.js" type="text/javascript" language="javascript"></script>
    <script type="text/javascript" src="~/Scripts/Debug/Reports/Charting.js"></script>

}

<div class="container">
    <div class="row">
        <div class="col-lg-5">
              <div id="chartContainer"  data-name="mainCHart">
                  <div data-name="credits" data-enabled="false" ></div>
                  <div data-name="title" data-text="Collection Status" ></div>
                  <div data-name="legend" data-align="right" data-verticalAlign="middle" ></div>
                  <div data-name="chart" data-type="pie" ></div>
                  <div data-name ="series" data-enableMouseTracking="true">
                      <span>
                          <div data-name ="data">
                                    <span data-name="Collected" data-color="green" data-numeric-y="@Model.CollectedAmount"  ></span>
                                    <span data-name="Over Due" data-color="red" data-numeric-y="@Model.OverDueAmount"  ></span>
                                </div>
                      </span>   
                  </div>
                    <div data-name="pie" data-allowPointSelect="true"  ></div>
            </div>
          
        </div>
        <div class="col-lg-7">
            <div class="panel panel-primary">
                @Html.Partial("Partial/OverDueFilter", Model.FilterPaymentStatus)
            </div>
          
        </div>
    </div>
</div>
    
    
    <h5> <label>Expected Amount EGP</label> @Model.ExpectedAmount.ToString("N2") -  <label>Collected Amount EGP</label> @Model.CollectedAmount.ToString("N2") - <label>Over Dure Amount EGP</label> @Model.OverDueAmount.ToString("N2")</h5>
            
<table class="table">
    <tr>
        @Html.SortableHeader(Model.FilterPaymentStatus, "DonationCaseName" , "Donation Case")
        @Html.SortableHeader(Model.FilterPaymentStatus, "DonorName" , "Donor")
        @Html.SortableHeader(Model.FilterPaymentStatus, "PaymentPeriod" , "Payment Period")
        @Html.SortableHeader(Model.FilterPaymentStatus, "DueDate" , "Due Date")
        @Html.SortableHeader(Model.FilterPaymentStatus, "CommittedAmount" , "Committed <br/> Amount")
        @Html.SortableHeader(Model.FilterPaymentStatus, "PaidAmount" , "Paid <br/> Amount")
        <th></th>
    </tr>

    @foreach (var item in Model.OutStandingPayments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonationCaseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentPeriod)
            </td>
            <td>
                @item.DueDate.Value.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommittedAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidAmount)
            </td>
            <td>
                
            </td>
            <td>
                @Html.ActionLink("Pay", "Create", "Payment" , new {id = item.CommitmentId} , null) 
                @Html.ActionLink("Alert", "Alert", "Alert", new { id=item.DonationCaseId }) |
            </td>
        </tr>
    }
    
 
    
</table>
    
 @Html.PageLinks(Model.FilterPaymentStatus, linksToShow: 10)