@using Foundation.FormBuilder.BootStrapSet
@using BootstrapNamedColor = Foundation.Web.BootstrapNamedColor
@model Kafala.Web.ViewModels.Donor.ViewDonorViewModel

<div class="page-header">
    <h1>@Model.Name</h1>
</div>
<div class="row">
    <div class="btn-group  btn-group-justified ">
        @Html.ActionButton("Edit" , "Edit" , "Donor", new  {id = Model.Id}, new { @class="btn-default "}, GlyphIcons.Edit)
        @Html.ActionButton("Assign Case" , "Create" , "Commitment", new  {donorId = Model.Id}, new { @class="btn-default"}, "icon-link")
        @Html.ActionButton("Register Payment" , "Create" , "Payment", new  {donorId = Model.Id}, new { @class="btn-default"}, "icon-euro")
        
        @Html.ActionButton("Send Reminder", "Remind" , "Reminder", new  {donorId = Model.Id}, new { @class="btn-default"},GlyphIcons.Envelope)
                
        @Html.ActionButton("Delete", "Delete" , "Donor", new  {id = Model.Id},new { @class="btn-default"}, GlyphIcons.Trash , BootstrapNamedColor.Warning)
    </div>
    <br/>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="row">
             @using (var form = Html.Bootstrap().BeginForm(BootstrapFormType.Vertical, new { @class = "well  well-sm", id = "autoForm" }))
              {
                  @Html.DynamicView(BootstrapFormType.Vertical)
              }
        </div>
    </div>
    <div class="col-lg-7 col-lg-offset-1">
        <div class="row">
            
            @if (Model.DonorDashBoard != null)
            {
                @Html.Partial("Partial/DonorOutStanding", Model.DonorDashBoard, new ViewDataDictionary())
            }
        </div>
         <div class="row">
            
            @if (Model.DonorDashBoard != null)
            {
                @Html.Partial("Partial/DonorCommitments", Model.DonorDashBoard, new ViewDataDictionary())
            }
        </div>
        <div class="row">
            
            @if (Model.DonorDashBoard != null)
            {
                @Html.Partial("Partial/DonorPayments", Model.DonorDashBoard, new ViewDataDictionary())
            }
        </div> 
    </div>
</div>

