@using Kafala.Web.ViewModels.DonationCase;
@model ListDonationCaseViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Cases</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Status
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.DonationCases) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonationCaseStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

     @using (var modal = Html.Bootstrap().Begin(new Modal(new { id = "confirmDelete" })))
    {
        using (var header = modal.BeginHeader())
        {
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Are you sure you want to delete this Donor from the system</h3>
        }
        using (var body = modal.BeginBody())
        {
            <p>All commitments related to this donor will be removed.</p>
        }
        using (var footer = modal.BeginFooter())
        {
            @Html.Bootstrap().Button("Close", BootstrapNamedColor.Default, null, new { data_dismiss = "modal" })
            @Html.Bootstrap().Button("Save Changes", BootstrapNamedColor.Primary, null)
        }
    }

    
</table>
