@model Kafala.Web.ViewModels.Donor.DonorDashBoard

<h4>Payment History</h4>

 @if (Model.Payments != null && Model.Payments.Any())
 {
     <table class="table table-condensed">
         <tr>
             <th>Case Name</th>
             <th>For the Period</th>
             <th>Collected On</th>
         </tr>
  
         @foreach (var item in Model.Payments)
         {
             <tr>
                 <td>@item.CommitmentDonationCaseName</td>
                 <td>@item.PaymentPeriodName</td>
                 <td>@item.PaymentDate</td>
                 <td>
                     @Html.ActionLink("Edit", "Edit", "Payment", new {id = item.Id}, null) |
                     @Html.ActionLink("Details", "Details", "Payment", new {id = item.Id}, new { @class = "showInPopUpOnClick"}) |
                     @Html.ActionLink("Delete", "Delete", "Payment", new {id = item.Id}, null)
                 </td>
             </tr>
         }

     </table>
 }
else
{
<div class="alert-info alert">
    No Payments are registered for this donor.<br/>
    Click @Html.ActionLink("here", "Create", "Payment", new {donorId = Model.DonorId}, new {@class = "alert-link"}) to register a payment.
     
</div>
}