@model Kafala.Web.ViewModels.Donor.DonorDashBoard

<h4>Assigned Cases </h4>

 @if (Model.Commitments != null && Model.Commitments.Any())
 {
     <table class="table table-condensed">
         <tr>
             <th>Case Name</th>
             <th>Start Date</th>
             <th>End Date</th>
         </tr>
  
         @foreach (var item in Model.Commitments)
         {
             <tr>
                 <td>@item.DonationCaseName</td>
                 <td>@if (@item.StartDate != null)
                     {
                         @item.StartDate.Value.ToShortDateString()
                     }
                     else
                     {
                         @Html.Raw("N/A")
                     }</td>
                 <td>@if (@item.EndDate != null)
                     {
                         @item.EndDate.Value.ToShortDateString()
                     }
                     else
                     {
                         @Html.Raw("N/A")
                     }</td>
                 <td>
                     @Html.ActionLink("Edit", "Edit", "Commitment", new {id = item.Id} , null) |
                     @Html.ActionLink("Details", "Details", "Commitment", new {id = item.Id}, null) |
                     @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                 </td>
             </tr>
         }

     </table>
 }
else
{
<div class="alert-info alert">
    No Commitments are associated with this donor.<br/>
    Click @Html.ActionLink("here", "Create", "Commitment", new {donorId = Model.DonorId}, new {@class = "alert-link"}) to link him/her to cases.
     
</div>
}