@model Kafala.Web.ViewModels.Donor.DonorDashBoard

<h4>Payment History</h4>

 @if (Model.Payments != null && Model.Payments.Any())
 {
     <table class="table-striped table-bordered table">
         <tr>
             <th>Case Name</th>
             <th>For the Period</th>
             <th>Collected On</th>
         </tr>
  
         @foreach (var item in Model.Payments)
         {
             <tr>
                 <td>@item.DonationCaseName</td>
                 <td>@item.PaymentPeriod</td>
                 <td>@item.PaymentDate</td>
                 <td>
                     @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                     @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                     @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                 </td>
             </tr>
         }

     </table>
 }
else
{
<div class="alert-info alert">
    No Payments are registered for this donor.<br/>
    Click @Html.ActionLink("here", "Create", "Payment", new {donorId = Model.DonorId}, new {@class = "alert-link"}) to register a payment.
     
</div>
}