@using System.Web.UI.HtmlControls
@using Foundation.Web.Extensions
@model Kafala.Web.ViewModels.Payment.PaymentIndexViewModel

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <table class="table sorter">
        <tr>
            @Html.SortableHeader(Model.PagingInfo.Sort, Model.PagingInfo.SortDirection, "DonationCaseName", "Donation Case Name", Model.PagingInfo.ActionFunc)
            @Html.SortableHeader(Model.PagingInfo.Sort, Model.PagingInfo.SortDirection, "DonorName", "Donor Name", Model.PagingInfo.ActionFunc)
            @Html.SortableHeader(Model.PagingInfo.Sort, Model.PagingInfo.SortDirection, "PaymentDate", "Payment Date", Model.PagingInfo.ActionFunc)
            @Html.SortableHeader(Model.PagingInfo.Sort, Model.PagingInfo.SortDirection, "PaymentPeriod", "Payment Period", Model.PagingInfo.ActionFunc)
            <th></th>
        </tr>
    
        @foreach (var item in Model.Payments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CommitmentDonationCaseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommitmentDonorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentPeriodName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                </td>
            </tr>
        }
    
    </table>
@Html.PageLinks(Model.PagingInfo, Model.PagingInfo.ActionFunc)