@using Foundation.Web
@using Foundation.Web.Extensions

<!DOCTYPE html>
<html>
<head>
     <title>@Html.PageTitle()</title>
    @Html.CssInclude("~/Content/bootstrap/bootstrap.css")
    @Html.CssInclude("~/Content/tableSorter.css")
    <!--@Html.CssInclude("~/Content/themes/base/jquery.ui.all.css")-->
    @Html.CssInclude("~/Content/themes/base/jquery-ui-1.10.0.custom.css")
    @Html.CssInclude("~/Content/loading.css")
    
    @RenderSection("Css", required: false)
    
    
        
</head>

    <body>
    
        <div class="navbar navbar-inverse">
            <div class="container">
                 <div class="navbar-header">
                    <a class="navbar-brand" href="#" title="change in _bootstrapLayout.basic.cshtml">Kafel</a>
                 </div>
                 <div class="navbar-collapse collapse" style="height: auto;">
                     @Html.Action("Index", "Menu")
                 </div>
            </div>
        </div>
    

        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    @Html.RenderFlashMessages()
                   
                    @RenderBody()
                </div>
            </div>
        </div>
        
        
        
        <!-- Modal-->
        <div id="confirmModal" style="display: none">
           
            <p> <span class="ui-icon ui-icon-alert " style="font-size:48px;"></span> One fine body&hellip;</p>
        </div>
        <!-- /.modal -->

        @Html.Partial("_LoadingElement")

        @Html.Partial("_DetailsPopUpTemplate")
       
        @Html.Partial("_ModalMessageTemplate")
         
       <script src="~/Scripts/jquery-2.0.3.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
         <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/shared.js"></script>
        <script src="~/Scripts/stacktrace.js" ></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    </body>
</html>
