@using Foundation.Web
@using Foundation.Web.Extensions

<!DOCTYPE html>
<html>
<head>
     <title>@Html.PageTitle()</title>
    @Html.CssInclude("~/Content/bootstrap/bootstrap.css")
    @Html.CssInclude("~/Content/tableSorter.css")
    <!--@Html.CssInclude("~/Content/themes/base/jquery.ui.all.css")-->
    @Html.CssInclude("~/Content/themes/base/jquery-ui-1.10.0.custom.css")
    @Html.CssInclude("~/Content/loading.css")
    
    @RenderSection("Css", required: false)
    
    
        
</head>

    <body>
    
        <div class="navbar navbar-inverse">
            <div class="container">
                 <div class="navbar-header">
                    <a class="navbar-brand" href="#" title="change in _bootstrapLayout.basic.cshtml">Kafel</a>
                 </div>
                 <div class="navbar-collapse collapse" style="height: auto;">
                     @Html.Action("Index", "Menu")
                 </div>
            </div>
        </div>
    

        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    @Html.RenderFlashMessages()
                   
                    @RenderBody()
                </div>
            </div>
        </div>
        
        
        
        <!-- Modal-->
        <div id="confirmModal" style="display: none">
           
            <p> <span class="ui-icon ui-icon-alert " style="font-size:48px;"></span> One fine body&hellip;</p>
        </div>
        <!-- /.modal -->

      <div class="modal modal-static fade" id="processing-modal" role="dialog" style="display: none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="text-center">
                            <img src="http://www.travislayne.com/images/loading.gif" class="icon" />
                            <h4 id="processing-message">Processing... </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
<div class="modal" id="detailsModel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="detailModelTitle">Modal title</h4>
      </div>
      <div class="modal-body" id="detailModelContent">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

         
       <script src="~/Scripts/jquery-2.0.3.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
         <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/shared.js"></script>
        <script src="~/Scripts/stacktrace.js" ></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    </body>
</html>
