@using Foundation.Web
@using Foundation.Web.Extensions

<!DOCTYPE html>
<html>
<head>
     <title>@Html.PageTitle()</title>
    @Html.CssInclude("~/Content/bootstrap/bootstrap.min.css")
    @Html.CssInclude("~/Content/themes/base/jquery.ui.all.css")
    
    @RenderSection("Css", required: false)
    
    
        
</head>

<body>
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" title="change in _bootstrapLayout.basic.cshtml">Kafel</a>
        </div>
        <div class="navbar-collapse collapse">
            
            <ul class="nav navbar-nav" role="navigation">
                <li class="active"><a href="Donor">Donors</a></li>
                <li><a href="Case">Cases</a></li>
                <li  class="dropdown">
                    <a class="dropdown-toggle" href="#" id="dropPayment" data-toggle="dropdown" role="button"  >Payments
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropPayment" >
                        <li><a href="Payment/Search">Find</a></li>
                        <li><a href="Payment/Register">Register</a></li>
                        <li><a href="Payment/Edit">Edit</a></li>
                    </ul>
                             
                </li>
                <li class="dropdown"><a 
                                         class="dropdown-toggle" href="#" id="dropReports" data-toggle="dropdown" role="button"
                                         >Reports<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropReports" >
                        <li><a href="Reports/UnpaidCommitments">Unpaid Commitments</a></li>
                        <li><a href="Reports/CollectedVolume">Collected Volume</a></li>
                             
                    </ul>
                </li>
                <li><a href="Reminders">Reminders</a></li>
                <li class="dropdown">
                    <a 
                        class="dropdown-toggle" href="#" id="dropAdmin" data-toggle="dropdown" role="button"
                        >Administration<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropAdmin">
                        <li><a href="Users">Manage Users</a></li>
                        <li><a href="System">System Settings</a></li>
                             
                    </ul>
                </li>
            </ul>
                  
        </div>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-lg-9">
        @RenderBody()
    </div>
</div>
    </div>
        <script src="~/Scripts/jquery-2.0.3.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
        <script src="~/Scripts/jquery-ui.unobtrusive-1.0.1.js"></script>
</body>
</html>
