@using Foundation.Web
@using Foundation.Web.Extensions


<!DOCTYPE html>
<html>
<head>
      <title>@Html.PageTitle()</title>
@Html.CssInclude("~/Content/bootstrap/bootstrap-theme.css")
@Html.CssInclude("~/Content/bootstrap/bootstrap-responsive.css")
@Html.CssInclude("~/Content/bootstrap/bootstrap.css")
@Html.CssInclude("~/Content/SignIn.css")
    <!--[if lt IE 9]>
        @Html.CssInclude("ietweaks.css")
    <![endif]-->
    @RenderSection("Css", required: false)
    
</head>

<body>
    
    <div class="container">
        @Html.RenderFlashMessages();
        @RenderBody()
    </div>
     @Html.ScriptIncludeThirdParty("jquery-2.0.3.min.js")
     @Html.ScriptIncludeThirdParty("modernizr-2.6.2.js")
     @Html.ScriptIncludeThirdParty("bootstrap.js")
 
</body>
</html>
